In [1]:
x = 5
y = "JOHN"
print(x,y)

5 JOHN

In [2]:
x = 2
x = "RIJJI"
print(x)

RIJJI

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

In [4]:
print("type  x",type(x))
print("type  y",type(y))
print("type  z",type(z))

type  x <class 'str'>
type  y <class 'int'>
type  z <class 'float'>

In [5]:
x = "RAI"
print(x)

RAI

In [6]:
print("type x",type(x))

type x <class 'str'>

In [7]:
x = 2
X = "RIJJI"
print(x,X)

2 RIJJI

In [9]:
# Assigning multiple values
x,y,z = 3,'ROSHMI',15
print(x,y,z)

3 ROSHMI 15

In [11]:
# Assigning multiple values
x=y=z = 'ROSHMI'
print(x,y,z)

ROSHMI ROSHMI ROSHMI